@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgba(0, 0, 0, 0.952);
  font-family: "Poppins", sans-serif !important;
}

.topDiv,
.aboutMe,
.contact {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
}

.aboutMe {
  background: url("../img/pic1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact {
  background: url("../img/pic2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.topDiv .name {
  font-size: 100px;
  letter-spacing: 20px;
  text-shadow: 3px 3px black;
}

.aboutMe .aboutHeadContainer {
  height: 20%;
}

.headingText,
.contactHeading {
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: normal;
}

.contactHeading {
  color: black;
}

.aboutMe .aboutDescContainer {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.aboutDescContainer img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  animation: shadow 2s alternate infinite;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 7px 27px 0px rgba(8, 159, 197, 0.7);
  }
  50% {
    box-shadow: 0px -1px 27px 0px rgba(8, 197, 125, 0.7);
  }
  100% {
    box-shadow: 0px -7px 27px 0px rgba(8, 197, 140, 0.7);
  }
}

.contactDescContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

.contactDescContainer a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.contactDescContainer a:hover {
  transform: scale(1.2);
  color: rgba(8, 197, 125, 0.7);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.lineAnime {
  height: 2px;
  background-color: rgba(8, 197, 125, 0.7);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .aboutMe .aboutDescContainer {
    flex-direction: column;
  }

  .aboutDescContainer img {
    width: 300px;
    height: 300px;
  }
}
