@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgba(0, 0, 0, 0.952);
  font-family: "Poppins", sans-serif !important;
}

.ajal {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
}

.ajal a {
  text-decoration: none;
  font-size: 30px;
  color: rgba(8, 197, 125, 0.7);
  text-shadow: 3px 3px black;
}

.topDiv,
.aboutMe,
.contact {
  min-height: 100vh;
  /* height: auto; */
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
}

.topDiv {
  background: url("../img/pic3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.aboutMe {
  /* background: url("../img/pic1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  flex: 1 4;
}

.contact {
  background: url("../img/pic2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.topDiv .name {
  font-size: 100px;
  letter-spacing: 20px;
  text-shadow: 3px 3px black;
  animation: name 3.5s cubic-bezier(1, -0.1, 1, 1);
}

@keyframes name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.aboutMe .aboutHeadContainer {
  /* height: 20%; */
  margin: 30px;
}

.headingText,
.contactHeading {
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: normal;
}

.contactHeading {
  color: black;
}

.aboutMe .aboutDescContainer {
  /* height: 80%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 30px;
}

.aboutDescContainer img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  animation: shadow 2s alternate infinite;
}

.descText {
  padding: 20px;
  width: 50%;
}

.descText p {
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 7px 27px 0px rgba(8, 159, 197, 0.7);
  }
  50% {
    box-shadow: 0px -1px 27px 0px rgba(8, 197, 125, 0.7);
  }
  100% {
    box-shadow: 0px -7px 27px 0px rgba(8, 197, 140, 0.7);
  }
}

.contactDescContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

.contactDescContainer a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.contactDescContainer a:hover {
  transform: scale(1.2);
  color: rgba(8, 197, 125, 0.7);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.lineAnime {
  height: 2px;
  background-color: rgba(8, 197, 125, 0.7);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .aboutMe .aboutDescContainer {
    flex-direction: column;
  }

  .aboutDescContainer img {
    width: 300px;
    height: 300px;
  }

  .descText {
    width: 100%;
  }

  .descText p {
    line-height: normal;
  }
}

@media screen and (max-width: 480px) {
  .aboutMe .aboutDescContainer {
    flex-direction: column;
  }

  .descText p {
    line-height: normal;
  }

  .descText {
    width: 100%;
    padding: 20px 0;
  }

  .aboutDescContainer img {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
  }
}

/* Loader */
.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease;
  background-color: rgb(0, 0, 0);
}

.endLoad {
  opacity: 0;
  pointer-events: none;
}

.loader {
  position: relative;
  width: 200px;
  height: 100px;
}

.rod {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  width: 200px;
  height: 5px;
  background-color: white;
  animation: rode 1s infinite alternate-reverse linear;
}

@keyframes rode {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

.circle1,
.circle2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(174, 238, 217, 1) 42%,
    rgba(233, 148, 201, 1) 65%
  );
}

.circle1 {
  top: 0;
  left: 0;
  animation: circle1 1s infinite alternate linear 0.5s;
}

.circle2 {
  top: 0;
  right: 0;
  animation: circle2 1s infinite alternate linear 1.5s;
}

.loadingText {
  font-size: 20px;
  animation: letter 2s infinite alternate linear;
}

@keyframes letter {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes circle1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

@keyframes circle2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

/* End of loader */

/* cursor */
/* .cursor {
  position: absolute;
  width: 0.1px;
  height: 200px;
  background-color: white;
  transform: translate(-50%, -50%);
  transform-origin: center;
  pointer-events: none;
  border-radius: 9px;
  background: linear-gradient(145deg, #4bdb91, #59ffac);
  box-shadow: 37px 37px 74px #339462, -37px -37px 74px #73ffe0;
} */
/* end of cursor */
